



.panel {
	float:right;	
}

ul.exposureThumbs {

	border-right:none;
	padding:0;
	margin:0;
	list-style-type:none;
	width:235px;
	
	

}

ul.exposureThumbs li {
	 margin:0 10px 10px 0;
     padding:0;
     display:none;float:left;
	
}

ul.exposureThumbs li img {
	cursor:pointer;
	
}

ul.exposureThumbs li.last {
	margin:0;	
	
}

.exposureTarget{
	width:480px;
	height:600px;
 	background-repeat:no-repeat;
		
	padding-top:80px;
	margin:0;
	position:relative;
	overflow:hidden; 
}

.exposureWrapper {
	position:absolute; 
	top:0; 
	left:0;
}

.exposureWrapper img {
	cursor:pointer;
	position:absolute;
	top:0;
	left:0;
	
}

.exposureLoaded {
	background-image:none;	
}

.exposureData {
	position:absolute;
 	left:0;
 	right:0;
 	bottom:-2000px;
	height:60px;
	padding:7px;
	
	color:#666;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:11px;
	
	display:none;
}

/* In this demo we are using thumbs with fixed size */
ul.exposureThumbs li {
	width:100px;
	height:100px;
	
	
}

.exposureSlideshowControls a,
.exposureControls span,
.exposureControls a {
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:11px;
	padding:8px;
	
	display:block;
	padding-top:5px;
	float:left;
}

.exposureSlideshowControls a {
	float:left;	
}

.exposureSlideshowControls a,
.exposureControls a {
	color:#000;
	text-decoration:none;
	outline:none;
}

.exposureSlideshowControls a:active,
.exposureSlideshowControls a:hover,
.exposureControls a:active,
.exposureControls a:hover {
	background-color:#CCCCCC;
	color:#666666;
}

.exposurePaging .active {
	color:#666666;
	
}

.clear {
	clear:both;	
}

p.info {
	margin:40px auto;
	text-align:center;	
	width:450px;
}

p.info a {
	color:#006fc0;	
}

p.info a:hover, p.info a:active {
	color:#0084e7;	
}
